{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "max-len": 0,
    "import/prefer-default-export": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
